#input_base {
    width:85%;
  }

  .search{
    position: relative;
    left: -70px;
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 40%;
    height: 70%;
    border-radius: 5px;
    background-color:whitesmoke;

  }

  .searchIcon{
    padding: 5px 10px;
    height: 5px;
    margin-top: 0.3%;
    color: black;
    opacity: 20%;
  }
