#input_base {
    width:85%;
  }

  .search{
    position: relative;
    left: -70px;
    display: flex;
    margin-top: 7px;
    margin-bottom: 70px;
    width: 40%;
    height: 70%;
    border-radius: 8px;
    background-color:whitesmoke;

  }

  .searchIcon{
    padding: 5px 15px;
    height: 5px;
    margin-top: 1%;
    color: black;
    opacity: 20%;
  }
