@import "Common.scss";

.notesContainer{
    @extend .displayFlex, .flexDirectionColumn, .alignItemsCenter !optional;
    box-sizing: none;
    border:1px solid white;
    min-height: 88.5vh;
    transition: margin .20s linear;
}

.trashContainer{
    @extend .displayFlex, .flexDirectionColumn, .alignItemsCenter !optional;
    box-sizing: none;
    border:1px solid white;
    min-height: 85.5vh;
    transition: margin .20s linear;
}

.slideMainContainer{
    @extend .displayFlex, .flexDirectionColumn, .justifyContentStart !optional;
    width:75px;
    padding-left: 200px;
    margin-right: -3.7%;
    min-height: 99.5vh;
    display: flex;
    transition: margin .20s linear;
}

.bulbContainer{
    @extend .displayFlex, .flexDirectionColumn, .justifyContentCenter, alignContentCenter !optional;
    margin-top: 15%;
}

.bulbImage{
    width: 100px;
    height: 100px;
    filter: contrast(0%);
    align-self: center;
}

h2 {
    align-self: center;
    color: gray;
}

.noteTaker{
    display: flex;
    margin-top: 2em;
    align-self: center;   
}

.gridView{
    margin-left: 17%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.note_child {
    display:flex;
    flex-direction:column; 
    align-items: center;
    flex-wrap:wrap;
    width:88vw;
}

.noteTaker_content {
    display:flex;
    width:70vw;
    justify-content:center;
}

#ex_close_button {
    width:32px;
    height: 32px;
    margin-top: 8px;
    margin-left: 218px;
    text-transform: capitalize;
}

.masonry_cont {
    display:flex;
    flex-wrap:wrap;
    width:80vw;
}

.typo_cont {
    text-align:left;
    margin-left:0em;
    width:80vw;
}

@media (max-width: 1200px){
    .gridView{
        margin-left: 10%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .note_child {
        width: 70vw;
    }
}

@media (max-width: 680px){

    .notesContainer{
        padding-left: 25px;
    }

    .trashContainer {
        padding-left: 65px;
    }
    .gridView{
        margin: auto;
        margin-left: 10%;
        padding: 10px;
        width: 80%; 
    }

    .slideNotesMainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        transition: none;
    }

}

@media (max-width: 540px){
    .gridView{
        margin: auto;
        width: 97%; 
    }
    #ex_close_button {
        margin-left: 70px;
    }
}

@media (max-width: 414px){
    .note_child {
        width:100%;
    }
    
    .noteTaker_content {
        width:75vw;
    }

    #ex_close_button {
        margin-left: 230px;
    }

    .masonry_cont {
        width:75vw;
    }
    
    .typo_cont {
        width:75vw;
    }
 }

 @media (max-width: 375px){
    #ex_close_button {
        margin-left: 200px;
    }
 }