@import "Common.scss";

.notesContainer{
    @extend .displayFlex, .flexDirectionColumn, .alignItemsCenter !optional;
    box-sizing: none;
    border:1px solid white;
    min-height: 99.5vh;
    transition: margin .20s linear;
}

.trashContainer{
    @extend .displayFlex, .flexDirectionColumn, .alignItemsCenter !optional;
    box-sizing: none;
    border:1px solid white;
    min-height: 99.5vh;
    transition: margin .20s linear;
}

.slideMainContainer{
    @extend .displayFlex, .flexDirectionColumn, .justifyContentCenter !optional;
    width:75px;
    padding-left: 200px;
    margin-right: -3.7%;
    min-height: 99.5vh;
    transition: margin .20s linear;
}

.bulbContainer{
    @extend .displayFlex, .flexDirectionColumn, .justifyContentCenter, alignContentCenter !optional;
    margin-top: 15%;
}

.bulbImage{
    width: 100px;
    height: 100px;
    filter: contrast(0%);
    align-self: center;
}

h2 {
    align-self: center;
    color: gray;
}

.noteTaker{
    display: flex;
    margin-top: 2em;
    align-self: center;   
}

.gridView{
    margin-left: 17%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1200px){
    .gridView{
        margin-left: 10%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 680px){

    .notesContainer{
        padding-left: 25px;
    }

    .trashContainer {
        padding-left: 65px;
    }
    .gridView{
        margin: auto;
        margin-left: 10%;
        padding: 10px;
        width: 80%; 
    }

    .slideNotesMainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        transition: none;
    }

}

@media (max-width: 540px){
    .gridView{
        margin: auto;
        width: 97%; 
    }
}

@media (max-width: 400px){
    // .notesContainer{
    //     margin-left: 0%;
    //     margin-right: 0%;
    //     padding: 10px 0px;
    // }
 }