.root_search {
    position:absolute;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.searchBar {
    margin-left: 320px; 
    padding: 2px 4px;
    width: 50%;
}

.search {
    margin-left: 320px; 
    padding: 2px 4px;
    width: 50%;
}

.responsive_search {
    padding: 0px 0px;
    width: 0%;
}

.input_search {
    margin-left: 1px;
    flex: 0;
}

.icon_button {
    padding: 10;
}

.search_icon {
    margin-left: 0px;
}

@media (max-width: 414px){
    .search_icon{
        margin-left: 50px;
    }

    .root_search {
        margin-left: 227px;
    }

    .search {
        padding: 2px 4px;
        width: 70%;
        z-index: 1;
    }

    .searchBar {
        margin-left: -5px;
        padding: 2px 4px;
        width: 75%;
        z-index: 1;
    }
}

@media (max-width: 411px){
    .search_icon{
        margin-left: 46px;
    }
}

@media (max-width: 375px){
    .search_icon{
        margin-left: 13px;
    }
}

@media (max-width: 360px) {
    .search_icon {
        margin-left: 0px;
    }

    .root_search {
        margin-left: 225px;
    }

    .searchBar {
        margin-left: -5px;
        padding: 2px 4px;
        width: 75%;
        z-index: 1;
    }
}