@import "Common.scss";

.MuiFormHelperText-marginDense.MuiFormHelperText-contained {
    margin: 0px !important;
}

.register_container {
    @extend .displayFlex, .flexDirectionColumn, .justifyContentCenter !optional; 
    border:1px solid silver;
    border-radius: 0.8%;
    width:55vw;
}

.register_child_container {
    @extend .displayFlex, .flexDirectionRow, .jusitfyContentCenter !optional;
    width:100%;
}

.register_form_container {
    @extend .displayFlex, .flexDirectionColumn, .jusitfyContentStart !optional;
    padding: 4%;
    padding-bottom: 1%;
    width:65%;
}

.txt_size {
    font-size: 80%;
}

.register_title {
    @include fontStyle($font-stack, $font-wt);
    text-align: left;
    padding-bottom: 2%;
}

.register_main_title {
    font-size:x-large;  
}

.register_sign_title {
    font-size:x-large;
    color:black;
}

.regiser_txt_title {
    font-size:medium;
    color:black;
    text-transform: none;
}

.register_form{
    @extend .displayFlex, .flexDirectionRow,  .justifyContentSpaceBetween !optional;
    padding-top: 8%;
    padding-bottom:4%;
}

.register_form_action {
    @extend .displayFlex, .justifyContentSpaceBetween !optional;
    padding-top: 4%;
    padding-bottom:4%;
}

.register_content_container{
    @extend .displayFlex, .flexDirectionColumn !optional;
    padding-bottom: 4%;
}

.register_password_form_container {
    @extend .displayFlex, .flexDirectionRow, .justifyContentSpaceBetween !optional;
}

.eye_icon_container {
	width:25px;
	background-color:white;
	position:relative;	
}

.eye_icon {
	position:absolute;
	margin-left:-46%;
	margin-top:20px;
}

.register_password_form {
    @extend .displayFlex, .flexDirectionRow, .justifyContentSpaceBetween !optional;
	width:90%;
}

.register_content{
    @extend .displayFlex, .justifyContentStart !optional;
}

.register_logo_container {
    @extend .displayFlex, .flexDirectionColumn, .justifyContentCenter !optional;
    padding: 3%;
    width: 35%;
}

.account_image {
    width: 244px;
    height:244px;
}

.register_child_txt {
    width:100%;
}

.register_textfield{
    width:45%;
}

@media (max-width: 1100px) {
    .account_image {
        width:230px
    }
}

@media (max-width: 900px) {
    .account_image {
        width:200px
    }

    .register_logo_container {
        display: none;
    }   

    .register_form_container {
        width:100%;
    }
}

@media (max-width: 600px) {
    .register_container {
        width:85%;
        border:none;
        justify-content: flex-start;
    }
    .register_logo_container {
        display: none;
    }   

    .register_form_container {
        width:100%;
    }

    .register_form {
        flex-direction: column;
        padding-bottom: 0%;
    }

    .register_password_form {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .input_txt_width {
        width:100%;
    }

    .register_textfield {
        padding-bottom: 5%;
        width:100%;
    }
}