@import  "Common.scss";

#loader_container{
	border:1px solid;
    width:100%;
    background-color: white;
    margin-left: 0em;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 0.1em;
}
  
#loader{
    width: 0;
    height: 0.3em;
    border-radius: 8px;
    background-color: $primary-color;
}

input[type=text] {
    border: none;
    width: 100% !important;
}

.container {
	width:35vw;
}

.main_container {
    @extend .displayFlex, .flexDirectionColumn;    
	width:22vw;
    border-radius: 1.5%;
    border:1px solid silver;
    padding:2%;
}


.main_title {
    font-size:2em;
    @include fontStyle($font-stack, $font_wt);
}

.child_content {
    padding: 2%;
}

.avatar_title {
    font-size:14px !important;
    @include fontStyle($font-stack, $font_wt);
}

.sign_title {
    font-size:x-large;
    color:black;
}

.txt_title {
    @include fontStyle($font-stack, $font_wt);
    font-size:large;
    color:black;
    text-transform: none;
}

#email_link {
    border:1px solid white;
    border-radius:10%;
}

.child_form {
    @extend .displayFlex, .flexDirectionColumn;
    border:1px solid white;
	width:100%;
    border-bottom: 2%;
}

.base_form {
    padding-top:10%;
}

.forget {
    text-align: left;
    @extend .displayFlex, .flexDirectionRow, .justifyContentSpaceBetween, .alignItemsStart;
    padding-top:10%;
    padding-bottom: 10%;
}

.child_action_container {
    @extend .displayFlex, .flexDirectionRow, .justifyContentSpaceBetween, .alignItemsStart;
    padding-top: 20%;
    padding-bottom: 10%;
}

.next_button {
    font-family: $font-stack;
    width: 80px; 
    height: 35px;
    background-color:  $primary-color !important;
}

@media (max-width: 1200px) {
    .main_container {
        width:33vw;
        padding: 3%;
    }
	
	.child_action_container {
		padding-top: 20%;
	}
}
@media (max-width: 700px) {
    .main_container {
        width:37vw;
    }
}

@media (max-width: 560px) {
    .main_container {
        border:none;
        width: 85%;
        padding-top:15%;
    }

    .child_action_container {
        padding-top: 10%;
    }

    .forget {
        padding-top: 10%;
    }
}

